{{!-- <div class="formulario">
    <h1>Checkout</h1>
    <p>¡Gracias por tu compra <span>{{cliente}}</span>! El número de orden es: <span> {{numTicket}} </span> </p>
    <p> Te enviaremos un e-mail a <span> {{email}} </span> con toda la información de tu orden </p>
     <div class="grupo-btn">
        <a class="btnMios noSub" href="/products">Tienda</a>
        <a class="btnMios noSub" href="/api/users/profile">Mi Perfil</a>
    </div>
</div>
 --}}

<div class="formulario">
    <h1>Checkout</h1>
    <p>¡Gracias por tu compra <span>{{cliente}}</span>! El número de orden es: <span> {{numTicket}} </span> </p>
    <p> Te enviaremos un e-mail a <span> {{email}} </span> con toda la información de tu orden </p>

    {{#if productosNoDisponibles.length}}
        <h3>Productos sin stock:</h3>
        <ul>
            {{#each productosNoDisponibles}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Estos productos no se han añadido a la compra.</p>
    {{/if}}

    <div class="grupo-btn">
        <a class="btnMios noSub" href="/products">Tienda</a>
        <a class="btnMios noSub" href="/api/users/profile">Mi Perfil</a>
    </div>
</div>
